/* Deliberamente ispirato a: */
/* https://stackoverflow.com/questions/76972952/how-to-make-a-flip-page-effect-in-book-without-using-absolute-position-or-make */

ol{
    overflow-y: auto;
}

section#userGoal{
    /* or any other parent wrapper */
    margin: auto;
}

.book {
    pointer-events: none;
    margin: 25px auto 10px;
}

p.libroLetto{
    text-decoration: line-through;
    font-style: italic;
}


div#copertinaAvanti{
    padding: 20% 5%;
    background-image: linear-gradient(to right ,#001c42 0.3%, #123456 0.6%, #001c42 0.9%,  #123465 99%, white 100%);
    text-align: center;
}

div#copertinaIndietro{
    background-image: linear-gradient(to left,#001c42 0.3%, #123456 0.6%, #001c42 0.9%,  #123465 99%, white 100%);
}

div#copertinaAvanti h2{
    color: #CACACA;
}

div#copriCopertina{
    background-color: #123456;
    display: block;
}


.page img {
    max-width: 18%;
    object-fit: cover;
    aspect-ratio: 1;
}



article{
    width: 100%;
}



article.titoloMedagliere h2 {
    word-wrap: break-word;
    text-align: left;
    float: left;
}

.descrizioneMedagliere{
    display: block;
    clear: left;
    text-align: justify;
}


article.titoloMedagliere {
    display: block;
}


article.titoloMedagliere img{
    text-align: right;
    float: right;
}



















/* global rule for admin view*/

div#userGoalPageAdmin{
    height: 400px;
    margin: 0 auto;
    text-align: center;
}


















@media only screen and (max-width: 768px) { /* phone rules*/

section#userGoal{
    width: 100%;
    z-index: 0;
    display: flex;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: linear-gradient(to bottom, white 10%, #57585a 90%);
   
}
  
.book {
    display: flex;
    max-width: 90%;
    width: 90%;
    min-width: 90%;
    align-items: center;
    margin: 0 5%;
}

.page {
    display: block;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    
    pointer-events: all;
    user-select: none;
    margin-bottom: 10px;
    
}

.page img {
    width: 18%;
    min-width: 75px;
    margin: 0 0 5px 5px;
    aspect-ratio: 1;
    float: right;
}


.facciata{
    background-color: #fff;
    border: black 1px solid;
    min-width: 100%;
    width: 100%; 
    max-width: 100%;

    min-height: 500px;
    height: 500px;
    max-height: 500px;
    display: none;
    
}

.actFac{
    display: block;
    flex: none;
    background-color: #fff;
    padding: 5%;
    z-index: 20;
    border: black 1px solid;
}


/***********/

h2.medTitle{
    font-size: 22px;
    max-width: 65%;
}

.descrizioneMedagliere{
    font-size: 14px;
}

.preambleElencoLibri{
    font-size: 16px;
}

article.libriNecessari{
    font-size: 12px;
}



ol{
    z-index: 0;
    padding: 0 0 0 20px;
    min-height: 150px;
    max-height: 150px;
}


div#copertinaAvanti h2{
    font-size: 35px;
}




}

















/*
***********************************************************************************************
*/
















@media only screen and (min-width: 768px) { /* PC rules*/
    
    
    section#userGoal{
        display: flex;
        overflow: hidden;
        font-family: 'Times New Roman', Times, serif;
        
        background-image: linear-gradient(to bottom, white 10%, #57585a 90%);
    }
      
    .book {
        --sizing: 45%;
        display: flex;
        width: var(--sizing);

        transform-style: preserve-3d;

        transition: translate 1s;
        translate: calc(min(var(--c), 1) * 50%) 0%;
    
        /* DEMO ONLY: incline on the X axis for pages preview */
        rotate: 1 0 0 15deg;
    }
    
    .page {
        --thickness: 4;
        /* PS: Don't go below thickness 0.4 or the pages might transpare */

        flex: none;
        display: flex;
        width: 100%;

        max-height: 650px;
        min-height: 650px;
        
        /*1* allow pointer events on pages */
        pointer-events:all;
        user-select: none;

        border: 1px solid #0008;

        transform-style: preserve-3d;
        
        transform-origin: left center;
        transition:
            transform 1s,
            rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
        translate: calc(var(--i) * -100%) 0px 0px;
        transform: translateZ( calc( (var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)) );
        rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
    }

    
    .page img {
        width: 18%;
        min-width: 75px;
        margin-left: 10px;
    }
    
    div#copertinaAvanti h2{
        font-size: 60px;
    }
    
    .front,
    .back {
        flex: none;
        width: 100%;
        padding: 5%;
        backface-visibility: hidden;
        background-color: #fff;
        /* Fix backface visibility Firefox: */
        translate: 0px;
    }
    
    .back {
        background-image: linear-gradient(to right, #fff 90%, #ddd 100%);
        translate: -100% 0;
        rotate: 0 1 0 180deg;
    }

    #copertinaIndietro.back {
        translate: -100% 0;
        rotate: 0 1 0 180deg;
    }

    article.libriNecessari{
        font-size: 16px;
        line-height: 1em;
    }
    
    /***********/

    h2.medTitle{
        font-size: 36px;
    }

    .preambleElencoLibri{
        font-size: 25px;
        line-height: 1em;
    }

    ol{
        min-height: 200px;
        max-height: 200px;
    }
    
}
