/* 
.flexible-input {
    width: 100%;
    /* max-height: 100%; */
    
    /* box-sizing: border-box; */
    /* margin: 8px 0; */
    /* padding: 5px;
    resize:none;

}
*/

.titolo {
    width: 100%;
   
}

.descrizione {
    width: 100%;
    height: 100px;
    resize: vertical;
    
} 

.dataTables {
    color: brown;
}