/* index.css */

.messaggioErrore {
    display: none;
    color: red;

}

.messaggioErroreBan {
    display: none;
}

.messaggioErroreBan p{
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.messaggioErroreBan a{
    font-weight: bold;
    font-size: 1em;
}

.form-group {
    margin-bottom: 10px;
}

#messaggioUtenteRegistrato {
    display: none;
    color: #0b5ed7;
    text-align: center;

}