/* index.css */

.messaggioErrore {
    display: none;
    color: red;

}

.messaggioErroreBan p{
    display: none;
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

.messaggioErroreBan a{
    display: none;
    font-weight: bold;
    font-size: 1em;
}

.form-group {
    margin-bottom: 10px;
}
