article{
    margin-top: 40px;
}

h1{
    font-size: 60px;
}

h2.subtitle{
    font-size: 40px;
}

p{
    font-size: 17px;
    text-align: justify;
}

img{
    width: 40px;
}

body > div{
    margin-bottom: 20px;
}