ol{
    overflow-y: auto;
}

section#userGoal{
    /* or any other parent wrapper */
    margin: auto;

    /* background-color: linear-gradient(top to bottom, #0042c5 80%, black 100%) ; */

}

.book {
    
    pointer-events: none;
    
    margin: 45px auto 20px;
}

p.libroLetto{
    text-decoration: line-through;
    font-style: italic;
}


div#copertinaAvanti{
    /* background-color: #123456; */
    background-image: linear-gradient(to right ,#001c42 0.3%, #123456 0.6%, #001c42 0.9%,  #123465 99%, white 100%);
    text-align: center;
}
div#copertinaIndietro{
    background-image: linear-gradient(to left,#001c42 0.3%, #123456 0.6%, #001c42 0.9%,  #123465 99%, white 100%);
}

div#copertinaAvanti h2{
    color: #CACACA;
}

div#copriCopertina{
    /* backface-visibility: visible; così non si chiude */
    background-color: #123456;
    display: block;
}


.page img {
    object-fit: cover;
    /* width: 39%; */
    aspect-ratio: 1;
}



article{
    width: 100%;
}








































@media only screen and (max-width: 768px) { /* phone rules*/

/* :root{
    --phone-size: 30%;
} */

section#userGoal{
    z-index: 0;
    display: flex;
    /* width: 100%; */
    /* height: 100dvh; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* background-color: linear-gradient(top to bottom, #0042c5 80%, black 100%) ; */

    background-image: linear-gradient(to bottom, white 10%, #57585a 90%);
    /* linear-gradient(to top, #57585a 20%) ; */
    /* align-content: center;
    align-self: center;
    align-items: center; */
}
  
.book {
/**/
    display: flex;
    /* overflow: visible; */
    max-width: 90%;
    width: 90%;
    min-width: 90%;
    align-items: center;
    margin: 0 5%;
    /*
   
    */

    /*align-items: center; */
    /* calc( var(--sizing) * 2); */
    /* width: 30%; var(--phone-size); */
    /* height: var(--sizing) * 1;  */
    /* 1.61803; */

    /*1* let pointer event go trough pages of lower Z than .book */
    /* transform-style: preserve-3d;
    transition: translate 1s;
    translate: calc(min(var(--c), 1) * 50%) 0%; */

}

.page {
    /* --thickness: 4; */
    /* PS: Don't go below thickness 0.4 or the pages might transpare */
    /* width: 30%; var(--phone-size); */

    /* flex: none; */

/**/
    display: block;
    align-items: center;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    /*overflow: visible; */
    
    /*1* allow pointer events on pages */

/**/
    pointer-events: all;
    user-select: none;
    /* transform-style: preserve-3d; */

    
    /* transform-origin: left center;
    transition:
        transform 1s,
        rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
    translate: calc(var(--i) * -100%) 0px 0px;
    transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
    rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg); */

}

.page img {
    width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    aspect-ratio: 1;
    float: right;
    margin-bottom: 10px;
}



.facciata{
    background-color: #fff;
    border: black 1px solid;
    /* overflow: visible; */
    /* --phone-size: 30%; */
    min-width: 100%;
    width: 100%; 
    max-width: 100%; 
    min-height: 500px;
    height: 500px;
    max-height: 500px;
    display: none;
    
}

.actFac{
    display: block;
    flex: none;
    background-color: #fff;
    padding: 3%;
    z-index: 20;
    border: black 1px solid;
    /* max-width: 90%; var(--phone-size); */
    /* width: 90%; var(--phone-size); */
    /* padding: 1rem;
    backface-visibility: hidden;
    background-color: #fff;
   
    margin: 0 5%; */
    /* Fix backface visibility Firefox: */
    /* translate: 0px; */
}



article.titoloMedagliere{
    /* display:inline; */
    vertical-align: middle;
}

article.titoloMedagliere img{
    margin-right: 30px;
}


/***********/

h2.medTitle{
    font-size: 16px;
}

.descrizioneMedagliere{
    font-size: 10px;
}

.preambleElencoLibri{
    font-size: 13px;
}

article.libriNecessari{
    font-size: 8px;
}



ol{
    min-height: 50px;
    max-height: 150px;
}


div#copertinaAvanti h2{
    margin-top: 10%;
    font-size: 20px;
}




}

















/*
***********************************************************************************************
*/
















@media only screen and (min-width: 768px) { /* PC rules*/
    
    /* https://stackoverflow.com/questions/76972952/how-to-make-a-flip-page-effect-in-book-without-using-absolute-position-or-make */
    section#userGoal{
        display: flex;
        /* height: 100dvh; */
        overflow: hidden;
        font-family: 'Times New Roman', Times, serif;
        
        /* background-color: linear-gradient(top to bottom, white, #57585a, black) ; */
        background-image: linear-gradient(to bottom, white 10%, #57585a 90%);
        /* background-image: linear-gradient(to right, #fff 80%, #ddd 100%); */
        /* background-color: #57585a; */
         /* linear-gradient(to top, #57585a 20%) ; */
    }
      
    .book {
        --sizing: 45%;
        display: flex;
        width: var(--sizing);
        /* height: var(--sizing) * 2.5;  */
        /* 1.61803; */
        /*1* let pointer event go trough pages of lower Z than .book */
        
        transform-style: preserve-3d;

        transition: translate 1s;
        translate: calc(min(var(--c), 1) * 50%) 0%;
    
        /* DEMO ONLY: incline on the X axis for pages preview */
        rotate: 1 0 0 15deg;
    }
    
    .page {
        --thickness: 4;
        /* PS: Don't go below thickness 0.4 or the pages might transpare */

        flex: none;
        display: flex;
        width: 100%;
        min-height: 500px;
        /*1* allow pointer events on pages */
        pointer-events:all;
        user-select: none;

        border: 1px solid #0008;

        transform-style: preserve-3d;
        
        transform-origin: left center;
        transition:
            transform 1s,
            rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
        translate: calc(var(--i) * -100%) 0px 0px;
        transform: translateZ( calc( (var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)) );
        rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
    }

    
    .page img {
        width: 18%;
        min-width: 75px;
        margin-left: 10px;

    }
    

    div#copertinaAvanti{
        /* background-image: linear-gradient(to left, #123465 99%, white 100%); */
    }

    div#copertinaAvanti h2{
        margin-top: 10%;
    }
    

    .front,
    .back {
        flex: none;
        width: 100%;
        padding: 5%;
        backface-visibility: hidden;
        background-color: #fff;
        /* Fix backface visibility Firefox: */
        translate: 0px;
        /* display: block; */
        /* display: inline-block; */
    }
    
    .back {
    background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
    translate: -100% 0;
    rotate: 0 1 0 180deg;
    }

    #copertinaIndietro.back {
        /**/
        translate: -100% 0;
        rotate: 0 1 0 180deg;
    }
    

    /***********//***********//***********/

    article.titoloMedagliere {
        /* position: absolute;
        top: 0;
        left: 0; */
        /* display: flex; */
        /* vertical-align: middle; */
    }

    article.titoloMedagliere h2 {
        /* display: flex; */
        /* text-align: justify; */
        
        /* max-width: 60%; */
        word-wrap: break-word;
        text-align: left;
        float: left;
        width: 70%;
        min-width: 135px;
        
        /* vertical-align: middle; */
    }
    
    article.titoloMedagliere img{
        
        text-align: right;
        float: right;
        /* display: flex; */
        /* margin-left: 20px; */
        /* margin-right: 30px; */
        /* vertical-align: middlek; */
        
    }

    .descrizioneMedagliere{
        clear: left;
        text-align: justify;
        min-height: 3em;
        height: 40%;
        max-height: 15em;
        /* overflow-y: hidden; */
    }

    /***********/


    article.libriNecessari{
        /* position: absolute;
        top: 50%; */
        /* left: 0; */
        font-size: 16px;
        line-height: 1em;
        /* vertical-align: bottom; */
    }
    
    /***********/
    h2.medTitle{
        font-size: 40px;
    }
    /* .descrizioneMedagliere{
        font-size: 18px; gestito su JS (bookanimation.js)
    } */

    .preambleElencoLibri{
        font-size: 25px;
        line-height: 1em;
    }

    ol{
        min-height: 200px;
        /* height: 30%; */
        max-height: 200px;
    }

   
    
    
    
    
    
    
}
