/* https://stackoverflow.com/questions/76972952/how-to-make-a-flip-page-effect-in-book-without-using-absolute-position-or-make */

section#userGoal{
    /* or any other parent wrapper */
    margin: 0;
    display: flex;
    height: 100dvh;
    font-family: 'Times New Roman', Times, serif;
    font: 16px; 

    /* sans-serif; */
    overflow: hidden;
    /* background-color: linear-gradient(top to bottom, #57585a 80%, black 100%) ; */
    background-color: #57585a;
     /* linear-gradient(to top, #57585a 20%) ; */
}
  
.book {
    --sizing: 45%;

    display: flex;
    margin: auto;
    width: var(--sizing);
    height: var(--sizing) * 2.5; 
    /* 1.61803; */
    /*1* let pointer event go trough pages of lower Z than .book */
    pointer-events: none;
    transform-style: preserve-3d;
    transition: translate 1s;
    translate: calc(min(var(--c), 1) * 50%) 0%;

    /* DEMO ONLY: incline on the X axis for pages preview */
    rotate: 1 0 0 30deg;
}

.page {
--thickness: 4;
/* PS: Don't go below thickness 0.4 or the pages might transpare */
flex: none;
display: flex;
width: 100%;
/*1* allow pointer events on pages */
pointer-events: all;
user-select: none;
transform-style: preserve-3d;
border: 1px solid #0008;
transform-origin: left center;
transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
translate: calc(var(--i) * -100%) 0px 0px;
transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.page img {
/* width: 100%;
height: 100%; */
object-fit: cover;
}

div#copertinaAvanti{
    background-color: #123456;
    text-align: center;
}
div#copertinaAvanti h1{
    color: #CACACA;
    margin-top: 10%;
}

div#copriCopertina{
    /* backface-visibility: visible; così non si chiude */
    background-color: #123456;
    display: block;
}

.front,
.back {
flex: none;
width: 100%;
padding: 2rem;
backface-visibility: hidden;
background-color: #fff;
/* Fix backface visibility Firefox: */
translate: 0px;
}

.back {
background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
translate: -100% 0;
rotate: 0 1 0 180deg;
}

.front{
    /* background-image: linear-gradient(to left, #fff 80%, #ddd 100%); */
}





img.imgObtainedMed{
    width: 150px;
    max-width: 150px;
    height: 150px;
    max-height: 150px;
}

article.titoloMedagliere{
    display: flex;
    vertical-align: middle;
}

article.titoloMedagliere img{
    margin-right: 30px;
}
article.descrizioneMedagliere img{
    display: block;
    margin-top: 30px;
}




/***********/


p.libroLetto{
    text-decoration: line-through;
    font-style: italic;
}

ol{
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}