ol{
    overflow-y: auto;
}

section#userGoal{
    /* or any other parent wrapper */
    margin: 0;

    overflow: hidden;
    /* background-color: linear-gradient(top to bottom, #0042c5 80%, black 100%) ; */

}

.book {
    --sizing: 45%;
    pointer-events: none;
    
    margin: 45px auto;
}

.page{
    border: 1px solid #0008;
}

p.libroLetto{
    text-decoration: line-through;
    font-style: italic;
}


div#copertinaAvanti{
    background-color: #123456;
    text-align: center;
}
div#copertinaAvanti h1{
    color: #CACACA;
}

div#copriCopertina{
    /* backface-visibility: visible; così non si chiude */
    background-color: #123456;
    display: block;
}


.page img {
    object-fit: cover;
}












@media only screen and (max-width: 768px) { /* phone rules*/

section#userGoal{
    display: block;
    /* height: 100dvh; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* background-color: linear-gradient(top to bottom, #0042c5 80%, black 100%) ; */

    background-color: #0042c5;
     /* linear-gradient(to top, #57585a 20%) ; */
}
  
.book {
    display: flex;
    --sizing: 90%;
     /* calc( var(--sizing) * 2); */
    width: var(--sizing);
    /* height: var(--sizing) * 1;  */
    /* 1.61803; */

    /*1* let pointer event go trough pages of lower Z than .book */
    /* transform-style: preserve-3d;
    transition: translate 1s;
    translate: calc(min(var(--c), 1) * 50%) 0%; */

}

.page {
    --thickness: 4;
    /* PS: Don't go below thickness 0.4 or the pages might transpare */
    width: 100%;

    flex: none;
    display: flex;
    
    /*1* allow pointer events on pages */
    pointer-events: all;
    user-select: none;
    transform-style: preserve-3d;
    
    /* transform-origin: left center;
    transition:
        transform 1s,
        rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
    translate: calc(var(--i) * -100%) 0px 0px;
    transform: translateZ( calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)));
    rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg); */

}

.page img {
    width: 50px;
    max-width: 50px;
    height: 50px;
    max-height: 50px;
    aspect-ratio: 1;
    float: right;
    margin-bottom: 10px;
}


.front,
.back {
flex: none;
width: 100%;
padding: 1rem;
backface-visibility: hidden;
background-color: #fff;
/* Fix backface visibility Firefox: */
translate: 0px;
}

.back {
background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
translate: -100% 0;
rotate: 0 1 0 180deg;
}


article.titoloMedagliere{
    display:inline;
    vertical-align: middle;
}

article.titoloMedagliere img{
    margin-right: 30px;
}


/***********/

h2.medTitle{
    font-size: 16px;
}

article.descrizioneMedagliere p{
    font-size: 10px;
}

p.preambleElencoLibri{
    font-size: 13px;
}

article.libriNecessari{
    font-size: 8px;
}



ol{
    min-height: 50px;
    max-height: 150px;
}


div#copertinaAvanti h1{
    margin-top: 10%;
    font-size: 20px;
}


}



/*
***********************************************************************************************
*/
















@media only screen and (min-width: 768px) { /* PC rules*/
    
    /* https://stackoverflow.com/questions/76972952/how-to-make-a-flip-page-effect-in-book-without-using-absolute-position-or-make */
    section#userGoal{
        display: flex;
        /* height: 100dvh; */
        
        font-family: 'Times New Roman', Times, serif;
        
        /* background-color: linear-gradient(top to bottom, white, #57585a, black) ; */
        background-color: #57585a;
         /* linear-gradient(to top, #57585a 20%) ; */
    }
      
    .book {
        display: flex;
        width: var(--sizing);
        /* height: var(--sizing) * 2.5;  */
        /* 1.61803; */
        /*1* let pointer event go trough pages of lower Z than .book */
        
        transform-style: preserve-3d;

        transition: translate 1s;
        translate: calc(min(var(--c), 1) * 50%) 0%;
    
        /* DEMO ONLY: incline on the X axis for pages preview */
        rotate: 1 0 0 15deg;
    }
    
    .page {
        --thickness: 4;
        /* PS: Don't go below thickness 0.4 or the pages might transpare */
        flex: none;
        display: flex;
        width: 100%;
        /*1* allow pointer events on pages */
        pointer-events: all;
        user-select: none;
        transform-style: preserve-3d;
        border: 1px solid #0008;
        transform-origin: left center;
        transition:
            transform 1s,
            rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
        translate: calc(var(--i) * -100%) 0px 0px;
        transform: translateZ( calc( (var(--c) - var(--i) - 0.5) * calc(var(--thickness) * 1px)) );
        rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
    }
    
    .page img {
        width: 150px;
        max-width: 150px;
        height: 150px;
        max-height: 150px;
    }
    

    div#copertinaAvanti h1{
        margin-top: 10%;
    }
    

    .front,
    .back {
    flex: none;
    width: 100%;
    padding: 2rem;
    backface-visibility: hidden;
    background-color: #fff;
    /* Fix backface visibility Firefox: */
    translate: 0px;
    }
    
    .back {
    background-image: linear-gradient(to right, #fff 80%, #ddd 100%);
    translate: -100% 0;
    rotate: 0 1 0 180deg;
    }
    



    article.titoloMedagliere {
        display: flex;
        /* vertical-align: middle; */
    }

    article.titoloMedagliere h2 {
        display: flex;
        text-align: left;
        float: left;
        /* vertical-align: middle; */
    }
    
    article.titoloMedagliere img{
        display: flex;
        text-align: right;
        float: right;
        /* margin-right: 30px; */
        /* vertical-align: middlek; */
    }

    
    /***********/
    
    ol{
        min-height: 100px;
        max-height: 300px;
    }
}
