/* ### profile page rules ### */
/* img#propic{
    width: 100px;
    aspect-ratio: 1;
}
img#libroMedaglieri{
    width: 75px;
    aspect-ratio: 1;
}
body main > div{
    display: inline-block;
    border: gray 1px solid;
    width: 45%;
}
body main div > div{
    display: inline-block;
}
body main div img{
    align-self: center;
}
body section{
    margin: 0% 5%;
    border: blue 1px solid;
    padding: 1%;
}



body main div div div div > div{
    border: 1px black solid;
} */

body section#userDescription{
    padding: 2%;
}

div#textInfo{
    line-height: 1.2;
}
div#textInfo h1{
    line-height: 2;
}

main img{
    max-width: 150px;
    width: 80%;
    min-width: 100px;
}

div#mainInfos img{
    box-shadow: -15px 15px 16px -16px #0a65d56a;
    /* background-color: #000000; */
    /* border: 1px black solid; */
}

body main{
    margin: 15px 0;
}