body main div > form{
    display: flex;
}

body main div form div#newPostForm_pt1 textarea{
    resize: none;
}

body main div form div#newPostForm_pt2 p{
    text-align: center;
}

body main div form div#newPostForm_pt2 div#imgPrevDiv{
    /* height: 70%; */
    aspect-ratio: 1;
    /* width: 20%; */
    width: 80%;

    margin: 10% 10% 0%;
    padding: 5%;
    border: black 1px solid;
    
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

body main div form div#newPostForm_pt2 div#imgPrevMods{
    /* margin-bottom: 10%; */
    display: none; /* ci pensa eventualmente js a mostrarlo */
    justify-content: center;
    vertical-align: middle;
}
/* body main div form div#newPostForm_pt2 div#imgPrev button{
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
    padding: 0;
    border: 0px black solid;
}

body main div form div#newPostForm_pt2 div#imgPrev button img{
    aspect-ratio: 1;
    width: 100%;
} */


body main div form div#newPostForm_pt2 div#imgPrevDiv label{
    /* display: none; */
    
    width: 30%;
    aspect-ratio: auto;
    /* height: 30%; */
    display: block;
    margin: auto;
}

body main div form div#newPostForm_pt2 div#imgPrevDiv label img{
    aspect-ratio: auto;
    width: 100%;
}

body main div form div#newPostForm_pt2 div#imgPrevDiv input{
    display: none;
}





body main div footer{
    /* margin: 0 5% 0; */
    margin-top: 90px;
    margin-bottom: 90px;
}

body main div footer button#shareButton{
    align-self: self-end;
    float: right;
}



#file {

    visibility: collapse;
  
}
/* 
#imgLabel img {

visibility: visible;

}

 */



@media only screen and (max-width: 768px) {
body main div > form{
    display: block;
}

body main div form div#newPostForm_pt2 p{
    margin-top: 50px;
    border-top: 1px rgb(204, 204, 204) solid;
    padding-top: 20px;
    text-align: center;
}
}


