body main{
    border: 1px red solid;
    margin: 75px 5% 40px;
    padding: 1%;
}

body main h1{
    color: #654321;
}

body main form div{
    display: inline-block;
    width: 45%;
    border: #654321 solid 1px;
}

body main footer{
    margin: 0 5%;
    
}