body section#userDescription{
    padding: 2%;
}

div#textInfo{
    line-height: 1.2;
}
div#textInfo h1{
    line-height: 2;
}

main img{
    max-width: 150px;
    width: 80%;
    min-width: 100px;
}

div.mainInfos img{
    box-shadow: -15px 15px 16px -16px #0a65d56a;
}

body main{
    margin: 25px 0;
}

@media only screen and (max-width: 768px) {
    body main {
        margin: 75px 0 25px;
    }
    
    /* body main div form div#newPostForm_pt2 p{
        margin-top: 50px;
        border-top: 1px rgb(204, 204, 204) solid;
        padding-top: 20px;
        text-align: center;
    } */
}