#logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#navbarSupportedContent img {
    width: 30px;
    height: auto;
    margin: 0 6px;
}

.post img {
    width: 30px;
    height: auto;
}

.post p {
    margin-bottom: 0;
}

.post {
    margin: 0;
}

.fotoCit img{
  width: 200px;
}
#navbarSupportedContent ul.navbar-nav {
    display: flex;
    align-items: center;
}

#navbarSupportedContent li.nav-item {
    margin: 0 2px; /* Aggiusta il margine come desideri */
}
