#logo {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

#navbarSupportedContent img {
    width: 30px;
    height: auto;
    margin: 0 6px;
}

.post img {
    width: 30px;
    height: auto;
}

.post .post-img {
  width: 50px;
  height: auto;
}

.post p {
    margin-bottom: 0;
}

.post {
    margin: 0;
}

.fotoCit img{
  width: 200px;
}
#navbarSupportedContent ul.navbar-nav {
    display: flex;
    align-items: center;
}

#navbarSupportedContent li.nav-item {
    margin: 0 2px; /* Aggiusta il margine come desideri */
}

form{
    display: block;
}

#labelSearchingInput{
    margin-right: 10px;
    display: block;
}

input[name="searchingMed"]{
    display: block;
}




.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

    display: block;
    margin: 30px auto 0;

}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
