
body footer button#retBut{
    position: fixed;
    bottom:5%;
    left: 5%;
}

.allMedInfo {
    width: 100%;
}

div.titlecontainer{
    width: 20%;
}

body section div div.medContainer{
    margin: 5% 0;
    min-height: 300px;
}

body section div div.medContainer div footer button{
    position: relative;
    float: right;
}


img.imgmedagliere{
    display: inline-block;
    margin: 0 auto;
    min-width: 50px;
    max-width: 150px;
    width: 100%;
}


/***********/

.descrizioneMed {
    text-align: justify;
}


p.libroLetto {
    text-decoration: line-through;
    font-style: italic;
}

ol{
    width: 90%;
    max-height: 150px;
    overflow-y: auto;
}


.expandMe{
    text-decoration: underline;
    color: blue;
}

section#cercaMed{
    margin-top: 30px;
}

#moreRes{
    margin-top: 30px;
    margin-bottom: 50px;
}

.noresults{
    text-align: center;
    margin-top: 30px;
}

h2#tit1Sec{
    font-size: 20px;
}

@media only screen and (min-width: 768px) {

    body section div div.medContainer {
        max-height: 500px;
    }

    img.imgmedagliere {
        min-width: 100px;
        max-width: 200px;
    }
    
    div.infocontainer {
        margin: 0 min(5%, 25px) 0 1% ;
        max-height: 450px;
        min-height: 250px;
        width: 75%;
    }

    ol {
        max-height: 200px;
        min-height: 200px;
    }

}