/* delete users */
.card {
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}

/* Additional style for better spacing */
.form-group {
    margin-bottom: 1rem;
}

.du-autocomplete-container {
    position: relative;
}

.deleteUserAutocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

.deleteUserAutocomplete-results div {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.deleteUserAutocomplete-results div:hover {
    background-color: #f0f0f0;
}


/* manage users  */

.userSelect {
    width: 100px;
}

.autocomplete-container {
    position: relative;
}

.autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
}

.autocomplete-results div {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.autocomplete-results div:hover {
    background-color: #f0f0f0;
}