body section#userDescription{
    padding: 2%;
}

div#textInfo{
    line-height: 1.2;
}

div#textInfo h1{
    line-height: 2;
}

div.mainInfos div.imgPropicCont{
    aspect-ratio: 1;
    max-width: 150px;
    width: 100%;
    min-width: 100px;
    clear: both;
}

div.mainInfos div.imgPropicCont img{
    width: 100%;
    box-shadow: -15px 15px 16px -16px #0a65d56a;
    margin: auto auto;
}


.containerUserInfos{
    padding-left: 10px;
    overflow-x: hidden;
    max-width: 600px;
}


#submit{
    display: block;
    margin: 0 auto;
}

div#portalDiv{
    max-width: 100px;
    width: 40%;
    min-width: 80px;
}

img#portal{
    width: 100%;
}

form.portalForm button{
    margin: auto 0;
}

/* useful for profilePage*/
body main{
    margin: 25px 0;
}

@media only screen and (max-width: 576px) {
    h1{
        margin-top: 10px;
    }

    div#portalDiv{
        min-width: 50px;
        width: 50%;
        max-width: 100px;
    }

    div.mainInfos{
        align-items: center;
        text-align: center;
    }

    div.imgPropicCont{
        margin: auto 0;
    }
    
    div.containerUserInfos{
        max-width: auto;
    }
}

@media only screen and (min-width: 576px){
    .containerUserInfos{
        max-width: 200px;
    }    
}

@media only screen and (min-width: 1000px) {
    .containerUserInfos{
        max-width: 700px;
    }
}