body {
    font-family: Arial, sans-serif;
}

.container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 4px;
}

.container h1 {
    text-align: center;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 5px;
}

.container input[type="text"], .container input[type="password"] {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 4px;
}

.container input[type="submit"] {
    cursor: pointer;
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 4px;
}

.container input[type="submit"]:hover {
    background-color: darkblue;
}